:root {
    --footer-bg-color: #C4C4C4;
}
footer{
    background-color: var(--footer-bg-color);
    width: 100%;
    overflow: hidden;
}
#logo-footer{
    width: 80%;
    height: 76px;
    display: flex;
    justify-content: center;
    z-index: 5;
}
#logo-footer img{
    position: relative;
    top:50%;
    left: 50%;
}
@media (min-width: 760px) {

    .form-wraper form{
       flex-direction: row;
    }
  
    #logo-footer img{
        left: 20%;
        top:50%;
    }  
}

