:root{
    --form-texto-color :#F3F3F3;
    --input-text-color : #8A8A8A;
    --form-shadow-color : rgba(0, 0, 0, 0.13);
    --form-bg-color: #FFFFFF;
    --btnForm-bg-color: #8B5FBF;
    --label-bg-color: #E9E9E9;
    --blurScreen-bg-color: rgba(179, 174, 174, 0.7);
    --salirBlurbBtn-bg-color: rgba(179, 174, 174, 0.7);
    --inputStar-text-color: red;
}
section {
    display: flex;
    justify-content: center;
    overflow: hidden;
}
#form {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--form-texto-color);
    padding: 1rem;  
}
#form h3{
    position: absolute;
    top:5%;
    color: #305371;
}
.form-wraper{
    position: relative;
    box-shadow: 0px 4px 33px var(--form-shadow-input);
    border-radius: 10px;
    display: flex;
    min-height: 579px;
    height:50vh;
    width: 80vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color : var(--form-bg-color);
    margin-top: 10%;
    margin-bottom: 10%;  
}
.form-wraper form{
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--form-bg-color);
    
}
.column{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.form-wraper form input {
    background-color: transparent;
    position: absolute;
    border: 0;
    height: 100%;
    width: 85%;
    margin-left: 11px;
    z-index: 30;
     
}
.form-wraper form input:focus {
    outline: none;

   
}
.form-wraper button {
    background: var(--btnForm-bg-color);
    height: 48px;
    width: 141px;
    border-radius: 20px;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--form-texto-color);   
    margin-top: 25px;
}
.required{
    padding-left:0;
    
    margin: 8px 8px 8px 8px;
    border-radius: 5px;
    width: 85%;
    height: 47px;
    font-size: 13px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    border: none;
    Font:Work Sans;
    position: relative;
    background: var(--label-bg-color);
    z-index: 10;
}
.required p{
    margin: 0;
    position: relative;
    left: 13px;
    width: 3%;
    padding: 0;
    white-space: nowrap;
    z-index: 20;
    color: var(--input-text-input);  
    
}
.required p span{
    margin: 5%;
    padding: 0;
    color: var(--inputStar-text-color); 
}
.blur-screen{
    height: 100vh;
    width: 100vw;
    background-color: var(--blurScreen-bg-color);
    position: absolute;
    top:0;
    left: 0px;
    z-index: 50;
}
.salir-form{
    background: url(../recursos/iconos/close_24px.jpg);
    background-size: contain;
    color :var(--salirBlurbBtn-bg-color);
    height: 14px;
    width: 14px;
    top: 20px;
    left: 95%;
    position: absolute;
}

@media (min-width: 760px) {

    .form-wraper form{
       flex-direction: row;
    }
    .column{
        margin: 1rem;
    }
    .form-wraper{
        margin: 90px 90px;
        min-height: 459px;
        height: 459px;
        max-height: 459px;
        width: 80vw;
    
    }
    .form-wraper button {
        margin-top: 0px;
        position: relative;
        top:35px;
    }
    #form h3{
        top:60px;
        font-size: 20px;
        font-weight: 700;
    }
   
}

