.article-wrap{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.article-wrap img {
    padding: 25%;
}
.article-wrap  p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
    width: 60%;
    padding-bottom: 2rem;
}

@media (min-width: 760px) {
    .article-wrap{
        width: 70vw;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
    }
    .article-wrap img {
        height: 362px;
        width: 362px;
        padding: 118px;
    }
}